@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}  
#carousel .carousel-item.boat{
  background-image:url("Party-3.jpg");
}
#carousel .carousel-item.sea{
  background-image:url("dj.jpg");
}
#carousel .carousel-item.river{
  background-image:url("selfie.jpg");
}
#carousel .carousel-item.time{
    background-image:url("pexels-fauxels-3183165.jpg");
  }
#carousel .carousel-item{
  height:100vh;
  width:100%;
  min-height:350px;
  background:no-repeat center center scroll;
  background-size:cover;
}
#carousel .carousel-inner .carousel-item{
  transition:-webkit-transform 2s ease;
  transition:transform 2s ease;
  transition:transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption{
  background:rgba(0,0,0,0.5);
  padding:40px;
  color:white;
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption h2{
  animation-duration: 1s;
  animation-delay: 2s;
  font-size: 90%;
}
#carousel .caption p{
  animation-duration: 1s;
  animation-delay: 2.2s;
  font-size: 80%;
  font-weight: 100;
}

#carousel .caption a{
  animation-duration: 1s;
  animation-delay: 2.4s;
}
.delicious-btn{
  display: inline-block;
  min-width:160px;
  height:60px;
  color:#fff;
  border:none;
  border-left:3px solid #1c8314;
  border-radius: 0;
  padding:0 30px;
  font-size:16px;
  line-height:58px;
  font-weight:600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background:#F8C804;
}
.delicious-btn:hover,
.delicious-btn:active,
.delicious-btn:focus{
  font-size:16px;
  font-weight: 600;
  color:#fff;
  background:#1c8314;
  border-color:#40ba37
}

.topnav {
    overflow: hidden;
    background-color: #01404C;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .ele{
      margin-top: 40px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active img {
     width: 220px;
     height: 100px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  
.ionicon{
    font-size: 80px;
    color:#F8C804;
    clear: both;
}
.box h3{
   margin-left: 1%;
   font-weight: 700;
   font-size: 85%;
}
.box p{
    margin-right: 2%;
    font-size: 78%;
 }
 .achievement-section{
    margin-top: 2%; 
    

}
hr{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-features{
    padding: 2%;
    margin: 50px 10px;
    font-size: 80%;
}
.contain{
    /* border: 1px solid #F9FAFD; */
    background-color: #F9FAFD;
    height: 170px;
    padding: 1%;
    cursor: pointer;
}
.contain:hover{
    background-color: #f8c70485;
    color: #000;
    box-shadow: 5px 2px 4px #f8c70485;

}
.contain h3{
    margin-bottom: 10px;
}
h2,h3{
    font-weight: 600;
    text-transform: uppercase;
}
.hiwh{
     text-align: center;
}




.section-testimonial{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F9F8F7;
}
.content p{
    font-size: 60%;
}
.htest{
    text-align: center;
    padding: 1%;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
    color: #555555;
   
}
.quote{
    height: 50px;
    width: 50px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
   
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 340px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    filter: blur(4px);
}
.swiper-slide-active{
    filter: blur(0px);
    background-color: #fff;
    border: 3px solid #F8C804;
}
.testimonialBox{
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
  
}
.testimonialBox .details{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* .testimonialBox .details .imgbx{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
} */
/* .testimonialBox .details .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.testimonialBox .details h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;

}
.testimonialBox .details h3 span{
    font-size: 12px;
    color: #666;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right  {
    background-image: none;
}



.footer{
	background-color: #fff;
	border: 5px solid #F8C804;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li{
    list-style: none;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.section-Download {
    background-color: #04004F;
    height: 400px;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}
.download{
    height: auto;
    width: 250px;
    margin-left: 220px;
}
.download:hover{
    box-shadow: 2px 5px 10px #ccc;
}
.downh3{
    color: white;
    font-size: 135%;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 8%;
}   

.number{
    color: #e67e22;
    border: 4px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    text-align: center;
    padding: 5px;
    margin-right: 25px;
    font-size: 150%;
    margin-bottom: 10px;
}

@media(max-width: 1101px){
  .contain{
    height: 190px;
  }
}
@media(max-width: 1101px)
{
  .contain{
    height: 230px;
}
.section-achievement{
    font-size: 80%;
}
}
@media(max-width: 808px)
{
  .contain{
    height: 260px;
    padding: 1%;
}
.section-achievement{
    font-size: 70%;
}
}
@media(max-width: 691px)
{
  .contain{
    height: 280px;
    padding: 1%;
    font-size: 80%;
}
.section-achievement{
    font-size: 70%;
}
}
@media(max-width: 653px)
{
 
.section-achievement{
    font-size: 60%;
  }
  .icon-inner, .ionicon, svg {
    display: block;
    height: 60%;
    width: 60%;
}
}
@media(max-width: 475px)
{
  .download{
    margin-left: 110px;
  }
}
@media(max-width:427px)
{
  .section-achievement{
    font-size: 40%;
}
  
}
@media(max-width: 418px)
{
 
  .icon-inner, .ionicon, svg {
    display: block;
    height: 60%;
    width: 60%;
}
.download{
  margin-left: 0;
}
  
}
@media(max-width: 653px)
{
 
.section-achievement{
    font-size: 50%;
}
.contain{
  height: 280px;
  padding: 1%;
  font-size: 70%;
}
}

@media(max-width:795px)
{
  .convinced h2 {
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    align-self: center;
}
}
